.mid {
	background-image: radial-gradient(rgb(134, 131, 131),rgb(56, 56, 56));
    border-radius: 10px;
	display: inline-block;
	width: 100%;
	margin: auto;
    height: 50px;
}

.navbar{
 
	display:inline-block;
}




.navbar li{

list-style: none;
display:inline-block;

margin:auto;
}

.navbar li a{
text-decoration: none;
color:rgb(255, 255, 255);
font-size: 20px;
padding:8px 20px;
}

.navbar li a:hover{
color:rgb(37, 37, 37);
border: rgb(255, 0, 255);
border-radius: 5px;
font-size: 20px;
}

.navbar li a:active{
background-color: rgb(170, 170, 170);
border-radius: 5px;
}


