body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(174,176,238);
  background: radial-gradient(circle, rgba(174,176,238,1) 0%, rgba(164,199,217,1) 58%, rgba(148,233,185,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin-top:2.5%;
  margin-left:10%;
  color:black;
  width: 100%;
  align-items: center;
}

.row{
  display: grid;
  grid-auto-flow:column;
}
.line{
  float:left;
  width: 33%;
  
}
