.form {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: silver;
}

input[type="text"],
input[type="password"] {
  width: 99%;
  height: 25px;
  margin-bottom: 10px;

}

input[type="text"],
input[type="password"],
textarea {
  background-color: white;
  color:black
}

#formID[type="text"],#formID[type="url"]{
width: 99%;
height: 25px;
margin-bottom: 10px;
}

#formID[type="text"],#formID[type="url"],
textarea {
  background-color: white;
  color:black
}


h1 {
  color: silver;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}




.button-container {
  display: flex;
  justify-content: center;

}

.laber {
  color: silver;
}

.input-container {
  color: silver;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  margin-bottom: 25px;

}



#registerForm {
  height: 400px;
  width: 300px;
  background-color: black;
  margin-bottom: 100px;
}

#register {
  background-color: silver;
  color: black;
  outline: 0;
  border:none;
}


#loginForm {
  height: 400px;
  width: 300px;
  background-color: black;
  margin-bottom: 100px;
}

#login {
  background-color: silver;
  color: black;
  outline: 0;
  border:none;
}

#uploadForm {
  height: 110fr;
  width: 350px;
  background-color: black;
  margin-bottom: 100px;
}

#upload {
  background-color: silver;
  color: black;
  outline: 0;
  border:none;
  margin-bottom: 10px;

}

