img {
  width: 100%;
  height: 100%;
}
html{
  resize: both;
  overflow: auto;
}
body{
  resize: both;
  overflow: auto;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;



}

.line {
  height: 50px;
}

li a {

  display: block;
  color: silver;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111111;
  color: silver;
  text-decoration: none;
}



.left {
  padding-top: 3%;
  width: 10%;
  background-color: rgb(29, 30, 31);

}

.right {
  border-top:3px solid silver;
  border-left:3px solid silver;
  width: 90%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.button{
  background-color: red;
}